# Database connection string
DATABASE_URI=postgresql://postgres:new@dpg-d4vaic63jp1c73eh18n0-a.virginia-postgres.render.com:5432/payload_db

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=2ed611e56d98d8e1c88fa5bd2560d242bb6fa35e5582a2fce7bf9830cb7cd532

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
